<center><h1><b>This is Home Page </b></h1></center>

<div class="row">
             <div class="col-md-12">
                <form class="well">
                    <div class="form-group">
                          <br/>
                             <center>
                             	<a class="btn btn-success" href="#!/profile">Profile Search</a>
                                 <a class="btn btn-success" href="#!/repository"> <b>Repository Search</b></a>
                             </center> 
 
                    </div>
               </form>
             </div>
       </div>