 <div ng-controller="MainCtrl as vm">
     <div class="row">
       <div class="col-md-12">
           <form class="well">
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="Enter github username..."  ng-model="user.name" name="username" ><br/><center>
                   <button ng-click="vm.fetchData(user.name)" class="btn btn-primary">search</button>
                 </center> 
 
              </div>
           </form>
        </div>
    </div>


  <div *ngIf="user.name">
     <div class="panel panel-default">
        <div class="panel-heading">
           <h3 class="panel-title">PROFILE: {{vm.data.data.login}}</h3>
        </div>
        <div class="panel-body">
           <div class="row">
               <div class="col-md-4 col-sm-4 col-xs-12">
                   <img class="img-thumbnail" src="{{vm.data.data.avatar_url}}">
                   <a class="btn btn-default btn-block" target="_blank" href="{{user.html_url}}">View Profile</a>
               </div>

               <div class="col-md-8 col-sm-8 col-xs-12">
                    <br/>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Username: </strong>{{vm.data.data.login}}</li>
                        <li class="list-group-item"><strong>Location: </strong>{{vm.data.data.location}}</li>
                        <li class="list-group-item"><strong>Email: </strong>{{vm.data.data.email}}</li>
                        <li class="list-group-item"><strong>Blog: </strong>{{vm.data.data.blog}}</li>
                        <li class="list-group-item"><strong>Member Since: </strong>{{vm.data.data.created_at}}</li>
                    </ul>
               </div>
           </div>
       </div>
    </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
         <h3 class="panel-title">User Repos</h3>
     </div>
    
     <div class="panel-body" >
      REPO name 1: {{ vm.repositories.data[0].name }}
      {{ vm.repositories.data[0].de }}<br/>
      Repo name 2: {{ vm.repositories.data[1].name }}<br/>
      Repo Name 3: {{ vm.repositories.data.length }}
         <div *ngFor="let repo of vm.repositories">
             <div class="row">
                 <div class="col-md-9">
                     <h4><a target="_blank" href="{{repo.html_url}}">{{repo.data}}</a></h4>
                     <p>{{repo.description}}</p>
                 </div>
             </div>
            <hr>
         </div>
     </div>
 </div>
</div>


































