

 <center><h1><b>Github</b> Repository Search</h1></center>
<div class="row">
       <div class="col-md-12">
           <form class="well">
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="Enter github Repository..."  ng-model="user.name" name="username" >
                 {{user.name}}<br/><center>
                   <button ng-click="vm.fetchData(user.name)" class="btn btn-primary">search</button>
                 </center> 
 
              </div>
           </form>
        </div>
    </div>
